<mat-card appearance="outlined" class="example-card">
    <button class="button-like">♡</button>
    <img mat-card-image alt="" class="product-url" [src]="productUrl" />
    <mat-card-content>
        <span class="product-price">{{ productPrice }} ₽</span>
        <p>Какое-то описание карточки товара самого лучшего в мире телевизора!</p>
    </mat-card-content>
    <mat-card-actions>
        <button matButton class="product-button">Добавить в корзину</button>
    </mat-card-actions>
</mat-card>
