<mat-card appearance="outlined" class="example-card">
    <button class="button-like">♡</button>
    <img mat-card-image alt="" class="product-url" [src]="products()[2].images[0].url" />
    <mat-card-content>
        <span class="product-price">{{ products()[2].price }} ₽</span>
        <p>Какое-то описание карточки товара самого лучшего в мире телевизора!</p>
    </mat-card-content>
    <mat-card-actions>
        <button matButton class="product-button" (click)="purchaseProduct(products()[2])">
            Купить товар
        </button>
    </mat-card-actions>
</mat-card>
