<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }} $</mat-card-subtitle>
    </mat-card-header>
    <div class="galerey">
        <button mat-icon-button disabled>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <img mat-card-image alt="product photo" [src]="product.images[0].url" />
        <button mat-icon-button disabled>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</mat-card>
