<div class="wrapper-products">
    <app-card [product]="productsMockSource[0]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[1]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[2]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[3]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[4]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[5]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[6]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[7]" (productBuy)="onClickBuyProduct($event)"></app-card>
    <app-card [product]="productsMockSource[8]" (productBuy)="onClickBuyProduct($event)"></app-card>
</div>
