<app-filter [brands]="getBrands()"></app-filter>

@if (getProducts(); as items) {
    <div appScrollWithLoading class="scroll-container">
        @for (item of items; track item._id) {
            <!-- <app-card class="card" [product]="item" (click)="navigateToProduct(item._id)"></app-card> -->
            <app-card
                class="card"
                [product]="item"
                [routerLink]="'/product/' + item._id"
            ></app-card>
        } @empty {
            Empty
        }
    </div>
} @else {
    Loading...
}
